.gallery {
    display: grid;
    gap: 4rem;
    grid-auto-rows: 35rem;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
}

@media (max-width:768px) {
    .gallery {
        display: block;
    }
}